
html, body {
  height: 100%;
  width: 100%;
  background-color: #332E33;
}

.Texto{
  color: #ffffff;
  font-size: 100%;
  font-style: normal;
  font-family: News701 BT;
}

.Titulo{
  text-align: center;
  color: #ffffff;
  font-size: 150%;
  font-style: Italic;
  font-family: News701 BT;
}